.root {
    -fx-background-color: #FBEBD8;
}
.grid-result {
    -fx-font-size: 42px;
    -fx-hgap: 40;
    -fx-vgap: 40;
}
.letter-input {
    -fx-alignment: center; 
    -fx-text-alignment: center;
    -fx-padding: 10;
}


.text-field {
    -fx-control-inner-background: #2A8278;
    -fx-prompt-text-fill: #CCCCCC;
    
}
